@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap');

:root {
    --cor-clara: #1b98e0;
    --cor-semi-clara: #247ba0;
    --cor-semi-escura: #006494;
    --cor-escura: #13293d;
}

body,
html {
    background-color: var(--cor-escura);
    margin: 0px;
    font-family: 'Raleway', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button {
    cursor: pointer;
}

#introducao {
    border: 1px solid #000;
    padding: 0.4rem;
}

.notas {
    display: flex;
}

.nota-com-tempo {
    font-weight: bold;
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tempo {
    font-weight: lighter;
}

#informacoes {
    display: inline;
}

.btn-delete {
    margin-left: 0.8rem;
}

/* parte add modal */
#addDialog::backdrop {
    background-color: rgb(0 0 0 / .5);
}

#addDialog {
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    width: 85%;
    background-color: aliceblue;
}

#h3dialog {
    display: inline-block;
    padding: 3px 7px;
    margin-bottom: -1px;
    background-color: rgb(0, 236, 236);
    border: none;
    border-radius: .5rem;
}

.formAcordes {
    margin-top: 10px;
    background-color: aqua;
    border: none;
    border-radius: .5rem;
    padding: 10px;
}

.chord {
    margin-bottom: 3px;
}

/* fim add modal */


.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.modal.open,
.modal-overlay.open {
    display: block;
}

/* inicio navBar */
nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(src\Cifralite.Web\fotos\LogoNavBar.png);
}

nav button {
    background: none;
    padding: none;
    border: none;
}

/* .botãoNavBar {
    background-color: white !important;
} */

#contrasteNavBar {
    background-color: #006494;
    height: 15px;
}

#logoNavBar {
    padding: 5%;
    width: 70%;
}

#iconMenu {
    padding-bottom: 15%;
    width: 70%;
}

#iconVoltar {
    padding-bottom: 15%;
    width: 70%;
}

.espacoNavBar {
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
}
/* fim navBar */

/* inicio exibir música */
.blocoMusica {
    background-color: #006494;
    text-align: center;
    box-shadow: 3px 3px black;
    border-radius: 10px;
    margin: 7px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    overflow: auto;
}

#infoMusicas{
    color: white;
    display: flex;
    font-size: 20pt;
    font-weight: bold;
    width: 80%;
    margin-top: 15px;
}


#nomeMusica {
    width: 30%;
    height: 103px;
    line-height: 103px;
    white-space: nowrap;
}

.tomMusica {
    display: flex;
    min-width: 25%;
}

#tom {
    width: 60%;
    height: 103px;
    line-height: 103px;
}

.responsivoAumentarDiminuir {
    min-width: 30%;
}

#aumentarTom,
#diminuirTom {
    width: 80%;
    height: 48px;
    line-height: 48px;
}

#blocoLixeira {
    width: 20%;
    height: 103px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconLixeira {
    min-width: 34%;
    max-height: 80%;
    margin: 7px;
}

#blocoEditarMusica {
    width: 20%;
    height: 103px;
    display: flex;
    justify-content: center;
}

#iconEditarMusica {
    min-width: 60%;
    max-width: 70%;
    margin: 7px;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#container {
    border-radius: 10px;
    margin-top: 1%;
    font-size: 27pt;
    width: 78.6%;
    overflow: auto;
    display: flex;
    text-align: center;
}

.secoes {
    background-color: white;
    border-radius: 10px;
    margin-top: 1%;
    font-size: 27pt;
    width: 78.5%;
    overflow: auto;
    display: flex;
    text-align: center;
}

.secoes section {    
    width: 100%;
    padding: 0px 4% 0px 4%;
}

.secoes #TituloSecao {
    font-size: 23px;
    margin-top: 15px;
    color:var(--cor-semi-escura);
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.secoes .Acordes{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tempo {
    font-size: 30px;
    color:var(--cor-semi-escura);
    font-weight: bold;
    text-align: start;
}
/* fim exibir música */