@page "/cadastrar_se/"

<div id="TelaDeCadastro">
    <p>Cadastre-se no Cifralite</p>

    <div id="Formulario">
        <input type="text" placeholder="Nome">
        <input type="email" placeholder="E-mail">
        <input type="password" placeholder="Senha">

        <button id="BotaoCadastrar">Cadastrar-se</button>
        <a href="#">Esqueci minha senha</a>
        <a href="#">Já tenho uma conta</a>
    </div>
</div>