@page "/"
@inject NavigationManager NavigationManager
@inject MusicaService MusicaService

<PageTitle>Lista de Músicas</PageTitle>

<NavBar />

<div>
    <ModalAdicionarMusica />

    <section id="conteudo">
        @foreach (var musica in _musicas)
        {
            <div class="musica">
                <div class="informacoes">
                    <h2>@musica.Titulo</h2>
                    <p>Autor: @musica.Artista</p>
                </div>
                <a href="#" @onclick="() => IrParaMusica(musica.Id)">
                    <span class="material-symbols-outlined">trending_flat</span>
                </a>
            </div>
        }
    </section>
</div>

@code {

    private List<Musica> _musicas = new List<Musica>();

    protected override void OnInitialized()
    {
        _musicas = MusicaService.ObterMusicas();
    }

    private void IrParaMusica(int id)
    {
        NavigationManager.NavigateTo("/musicas/" + id);
    }
}