@page "/login/"
@inject UsuarioService UsuarioService
@inject NavigationManager NavigationManager

<PageTitle>Login - Cifralite</PageTitle>

<link rel="stylesheet" href="InterfaceDeCadastroELogin.css">

<div id="TelaDeCadastro">
    <h1>Fazer Login</h1>
    <p>Bem-vindo ao <strong>Cifralite!</strong></p>

    <div id="Formulario">
        <input @bind="Email" type="email" placeholder="E-mail" required>
        <input @bind="Senha" type="password" placeholder="Senha" required>

        <button id="BotaoEntrar">Entrar</button>
        <a href="#">Esqueci minha senha</a>
        <a href="#">Já tenho uma conta</a>
    </div>
</div>

@code {
    private string Email {get; set;} = string.Empty;
    private string Senha {get; set;} = string.Empty;
}