@page "/login/"
@inject UsuarioService UsuarioService
@inject NavigationManager NavigationManager

<PageTitle>Login - Cifralite</PageTitle>

<link rel="stylesheet" href="InterfaceDeCadastroELogin.css">

<div id="TelaDeLogin">
    <h1>Fazer Login</h1>
    <p>Bem-vindo ao <strong>Cifralite!</strong></p>

    <EditForm Model="_usuario" OnValidSubmit="HandleValidSubmit">
        <div id="Formulario">
            <DataAnnotationsValidator />
            <InputText id="Email" class="campoDeLogin" @bind-Value="_usuario.Email" type="email" placeholder="E-mail" required/>
            <InputText id="Senha" class="campoDeLogin" @bind-Value="_usuario.Senha" type="password" placeholder="Senha" required/>
            <button type="submit" id="BotaoEntrar">Entrar</button>
            <a href="#">Esqueci minha senha</a>
        </div>
        @if (mensagemDeErro != string.Empty) {
            <div id="MenssagemDeErro">
                <p>@mensagemDeErro</p>
            </div>
        }
    </EditForm>
</div>

@code {
    private LoginModel _usuario = new LoginModel();
    public string mensagemDeErro {get;set;} = string.Empty;
    private async Task HandleValidSubmit() {
        mensagemDeErro = string.Empty;
        var requerimento = await UsuarioService.Login(_usuario.Email, _usuario.Senha);
        if (requerimento) {
            NavigationManager.NavigateTo("/");
        } else {
            mensagemDeErro = "O campo E-mail ou Senha é inválido";
        }
    }

    private class LoginModel {
        [Required(ErrorMessage = "O E-mail é obrigatório")]
        public string Email {get;set;} = string.Empty;
        [Required(ErrorMessage = "A senha é obrigatória")]
        public string Senha {get;set;} = string.Empty;
    }
}