@inject NavigationManager NavigationManager
@inject MusicaService MusicaService

<button @onclick="MostrarModalDeletarMusica"><span class="material-symbols-outlined">delete</span></button>

@if (_mostrarModalDeletarMusica) {
    <div class="modal-overlay open">
        <div class="modal open">
            <p>Tem certeza de que deseja remover essa música?</p>
            <button id="btn-confirmar" @onclick="IrParaListaDeMusicas">Sim</button>
            <button id="btn-cancelar" @onclick="FecharModalDeletarMusica">Cancelar</button>
        </div>
    </div>
}

@code {
    private bool _mostrarModalDeletarMusica = false;

    private void MostrarModalDeletarMusica(){
        _mostrarModalDeletarMusica = true;
    }

    private void FecharModalDeletarMusica(){
        _mostrarModalDeletarMusica = false;
    }

    private void IrParaListaDeMusicas() {
        NavigationManager.NavigateTo("/");
    }
}