@inject NavigationManager NavigationManager
@inject MusicaService MusicaService

@* <button @onclick="MostrarModalDeletarMusica"><span class="material-symbols-outlined">delete</span></button> *@
<button @onclick="MostrarModalDeletarMusica" id="iconLixeira">
    <img src="fotos/iconLixeixa.png" alt="icone lixeira" class="icon">
</button>

@if (_mostrarModalDeletarMusica)
{
    <div class="modal-overlay open">
        <div id="modal-delete" class="modal open">
            <p>Tem certeza de que deseja remover essa música?</p>
            <button id="btn-confirmar" @onclick="() => DeletarMusica(IdMusica)">Sim</button>
            <button id="btn-cancelar" @onclick="FecharModalDeletarMusica">Cancelar</button>
        </div>
    </div>
}

@code {
    [Parameter]
    public int IdMusica { get; set; }
    
    private bool _mostrarModalDeletarMusica = false;

    private void MostrarModalDeletarMusica()
    {
        _mostrarModalDeletarMusica = true;
    }

    private void FecharModalDeletarMusica()
    {
        _mostrarModalDeletarMusica = false;
    }

    private void DeletarMusica(int id)
    {
        FecharModalDeletarMusica();
        MusicaService.RemoverMusica(id);
        IrParaListaDeMusicas();
    }

    private void IrParaListaDeMusicas()
    {
        NavigationManager.NavigateTo("");
    }
}